<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.localtovocal">



    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/locallogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/locallogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">



        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->

        <activity android:name=".Activities.OtpVerifyActivity" />
        <activity android:name=".Activities.ContactUsActivity" />
        <activity android:name=".Activities.RefundPolicyActivity" />
        <activity android:name=".Activities.AboutUsActivity" />
        <activity android:name=".Activities.PrivacyPolicyActivity" />
        <activity android:name=".Activities.ForgotPasswordActivity" />
        <activity android:name=".Activities.NewsDetailsActivity" />
        <activity android:name=".Rough.RoughActivity" />
        <activity android:name=".Activities.DescriptionActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Activities.ShowReviewsActivity" />
        <activity android:name=".Activities.ReviewActivity" />
        <activity android:name=".Paytm.CallPaytmGateway" />
        <activity android:name=".Activities.MapActivity" />
        <activity android:name=".Activities.TagsActivity" />
        <activity android:name=".Activities.SuggestionsActivity" />
        <activity
            android:name=".Activities.VideoPlayerActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activities.SearchUsersActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.UploadFileActivity" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.TermAndConditionActivity" />
        <activity android:name=".CropImageActivity" />
        <activity android:name=".PracticeActivity" />
        <activity android:name=".Activities.LocalDetailsActivity" />
        <activity android:name=".Activities.BottomNavigationActivity" />
        <activity
            android:name=".Activities.SignupActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
    </application>

</manifest>